@import "tailwindcss";
html { scroll-behavior: smooth; }


:root {
  --font-playfair: "Playfair Display", serif;
  --font-poppins: "Poppins", sans-serif;
}

/* Apply fonts */
h1, h2, h3 {
  font-family: var(--font-playfair);
}

body, p, a, button {
  font-family: var(--font-poppins);
}
